langchain
langchain-groq 
langchain-openai 
python-dotenv 
colorama
deepgram-sdk
sounddevice 
numpy 
pyaudio
openai 
keyboard  
wave
pydub
SpeechRecognition
playsound==1.2.2
soundfile
tabulate


fastapi==0.109.2
uvicorn==0.27.1
websockets==12.0
pydantic==2.6.1
pydantic-settings==2.1.0