langchain
langchain-groq 
langchain-openai 
python-dotenv 
colorama
deepgram-sdk
sounddevice 
numpy 
pyaudio
openai 
keyboard  
wave
pydub
SpeechRecognition
playsound==1.2.2
soundfile
tabulate
webrtcvad
faster-whisper